{% extends 'main/layout.html' %}

{% block title %}{{ car.model }} - Rames Dipons{% endblock %}

{% block content %}
<!-- Страница автомобиля -->
<section class="car-detail py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <img src="{% static 'main/img/' %}{{ car.image }}" class="img-fluid" alt="{{ car.model }}">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4">{{ car.model }}</h1>
                <p class="lead">{{ car.year }} г.в. | {{ car.engine }}</p>
                <p class="fs-4 text-primary fw-bold">{{ car.price }}</p>
                <p>{{ car.description }}</p>
                <a href="{% url 'car_order' %}" class="btn btn-primary btn-lg">Оформить заказ</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
